 body{
 	background-color: springgreen

}
#yay{
	background-color:powderblue;
	height:200px;
	width:100px;
	margin-top: 50px;
	border-style:ridge;
	border-width: 10px;
	box-shadow: 5px 5px 5px #191970;




}
   #yay:active{
   	background-color:turquoise;

   	-webkit-transform:rotatey(360deg);
   	transition: .5s;
   	
   }
#yes{
 width: 100px;
height: 100px;
background-color: limegreen;
box-shadow:  5px 5px 5px midnightblue

}
   #yes:hover{
 	background-color: springgreen;
 	margin-left: 1350px;
   transition: 10s;
   -webkit-transform:rotate(720deg);

 
 }

  #half{
  	background-color: blue;
  	margin-top:10px;
  	margin-bottom:0px;
  	margin-left: 0px;
  	margin-right: 675px;
height:auto;
width:auto;
  }